In [4]:
#Installing Data Set 

#!pip install opendatasets --upgrade

import opendatasets as od

In [5]:
od.download('https://www.kaggle.com/shivamb/netflix-shows/notebooks')

Downloading netflix-shows.zip to ./netflix-shows

100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1.34M/1.34M [00:01<00:00, 732kB/s]

In [1]:
import os

In [2]:
os.listdir('./netflix-shows')

['netflix_titles.csv']

In [4]:
import pandas as pd

df = pd.read_csv('netflix_titles.csv')

In [18]:
pd.set_option('display.max_rows',10)

In [22]:
pd.set_option('display.max_columns',None)

In [28]:
df.type.unique()

array(['Movie', 'TV Show'], dtype=object)

In [29]:
df.type.nunique()

2

In [31]:
df[df.duplicated()]

Empty DataFrame
Columns: [show_id, type, title, director, cast, country, date_added, release_year, rating, duration, listed_in, description]
Index: []

In [32]:
df.isnull().values.any()

True

In [34]:
df.isnull().sum()

show_id            0
type               0
title              0
director        2634
cast             825
                ...
release_year       0
rating             4
duration           3
listed_in          0
description        0
Length: 12, dtype: int64